$popColor: hsl(217, 19%, 38%);
$secBkColor: hsl(217, 19%, 24%);
$mainBkColor: hsl(218, 23%, 16%);
$textColor: hsl(193, 38%, 86%);
$lightColor: hsl(150, 100%, 66%);
$mediaQuery: 400px;
* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  body {
    background-color: $mainBkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.card {
      background-color: $secBkColor;
      display: flex;
      flex-direction: column;
      width: 30vw;
      align-items: center;
      padding: 30px;
      border-radius: 10px;
      margin-top: 15%;
      @media (max-width: 375px) {
        width: 90vw;
        padding: 30px 10px;
      }
      h1 {
        text-transform: uppercase;
        color: $lightColor;
        font-size: 0.75rem;
        letter-spacing: 4px;
        @media (max-width: $mediaQuery) {
          font-size: 1rem;
        }
      }
      p {
        font-size: 1.2rem;
        color: $textColor;
        margin: 15px 15px 15px 15px;
        text-align: center;
        @media (max-width: $mediaQuery) {
          font-size: 1.5rem;
        }
      }
      img.mobileDivider {
        display: none;
        @media (max-width: 375px) {
          display: block;
          margin-bottom: 30px;
          margin-top: 30px;
        }
      }
      img.desktopDivider {
        width: 90%;
        margin-bottom: 15px;
        margin-top: 15px;
        @media (max-width: $mediaQuery) {
          display: none;
        }
      }
    }
    button {
      border-radius: 50%;
      display: flex;
      align-items: center;
      transform: translate(0%, -50%);
      height: 48px;
      width: 48px;
      background-color: $lightColor;
      border: none;
      @media (max-width: $mediaQuery) {
        width: 60px;
        height: 60px;
      }

      &:hover {
        box-shadow: 0px 0px 22px 0px rgba(82, 255, 168, 0.51);
        -webkit-box-shadow: 0px 0px 12px 0px rgba(82, 255, 168, 0.51);
        -moz-box-shadow: 0px 0px 12px 0px rgba(82, 255, 168, 0.51);
      }
      img {
        width: 20px;
        height: 20px;
        margin: auto;
        @media (max-width: 375px) {
          width: 30px;
          height: 30px;
        }
      }
    }
    div.attribution {
      position: absolute;
      bottom: 50px;
      font-size: 0.8rem;
      text-align: center;
      color: $textColor;
      a {
        color: $lightColor;
        text-decoration: none;
      }
      @media (max-width: $mediaQuery) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}
